.container {
  position: fixed;
  width: 100%;
  bottom: 5.5rem;
  right: 1rem;
}

.wrapper {
  margin: auto;
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: flex-end;
}

.scrollDownBtn {
  background: #2ddc1f;
  padding: 0.5rem;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  align-items: center;
  display: flex;
  z-index: 999;
  justify-content: center;
  transition: ease-in-out 200ms;
  transform: scale(0.5);
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
}

.show {
  bottom: 5.5rem;
  transform: scale(1);
  transition: ease-in-out 200ms;
}

.scrollDownBtn:hover {
  color: var(--text-primary-color-1);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.scrollDownBtn svg {
  padding: 1.4rem;
  position: relative;
  color: #eee;
  transition: ease-in-out 200ms;
  top: 0;
  transform: rotate(90deg);
}

.scrollDownBtn svg:hover {
  color: #fff;
  transition: ease-in-out 200ms;
  animation: spin 600ms ease-out infinite;
  transform: rotate(90deg);
}

@keyframes spin {
  0% {
    transform: rotate(90deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.3);
  }
  100% {
    transform: rotate(90deg) scale(1);
  }
}
