.message {
  min-width: 30%;
  max-width: 80%;
  position: relative;
}

.message header {
  padding: 0.5em 0.5em 0.3em 0.4em;
  border-radius: 1em 1em 0em 0em;
  text-transform: capitalize;
}

.message footer {
  padding: 0.2em 0.5em 1em 0.4em;
  font-weight: 100;
  word-wrap: break-word;
}

.yourMessage {
  margin: 0 0 1em auto;
  animation: slideInRight 500ms ease 10ms forwards;
}

@keyframes slideInRight {
  0% {
    right: -100px;
    transform: scale(0);
    opacity: 0;
  }

  100% {
    right: 0px;
    transform: scale(1);
    opacity: 1;
  }
}

.yourMessage header {
  background-color: #6af;
}
.yourMessage footer {
  background-color: #8cf;
  border-radius: 0em 0em 0em 1em;
}

.theirMessage {
  margin: 0 auto 2em 0;
  animation: slideInLeft 500ms ease 10ms backwards;
}

@keyframes slideInLeft {
  0% {
    left: -100px;
    transform: scale(0);
    opacity: 0;
  }

  100% {
    left: 0px;
    transform: scale(1);
    opacity: 1;
  }
}

.theirMessage header {
  background-color: #6fa;
}
.theirMessage footer {
  background-color: #8fc;
  border-radius: 0em 0em 1em 0em;
}
