.container {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.imgContainer {
  width: 50%;
}

.imgContainer > img {
  width: 100%;
  border-radius: 0.3rem;
}

.text {
  letter-spacing: 0.5rem;
  background-color: #fff;
  padding: 0.4em;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

  border-radius: 0.4em;
  color: #4d4;
  font-weight: 800;
}

.btn {
  width: 70%;
  padding: 0.4em;
  border: none;
  border-radius: 0.4rem;
  background-color: #4d4;
  color: #ffffff;
  cursor: pointer;
  animation: floatUp ease-out 2000ms;
  position: relative;
  transition: ease-in 300ms;
  letter-spacing: 0.2em;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #0a0;
  transition: ease-in 300ms;
  letter-spacing: 0.4em;
}
@keyframes floatUp {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
