.page-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  background-color: #48f;
  color: #f8f8f8;
  width: 100%;
  padding: 0.5em;
  z-index: 999;
}
.header h1 {
  padding-left: 0.5em;
}

.main {
  margin: 5em auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.messages {
  width: 80%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-bottom: 3rem;
}

.formCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}
.messageForm {
  background-color: #246;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.messageForm input {
  margin-right: 3%;
  padding: 1em;
  border-radius: 3em;
  border: none;
  width: 65%;
  transition: all linear 150ms;
}

.messageForm input:active,
.messageForm input:hover {
  transition: all linear 150ms;
  color: rgb(0, 45, 122);
  letter-spacing: 0.05em;
}
.messageForm button {
  padding: 1em;
  border-radius: 3em;
  border: none;
  background-color: #4f4;
  width: 20%;
  transition: all linear 150ms;
}

.messageForm button:hover,
.messageForm button:focus {
  transition: all linear 150ms;
  background-color: #8f8;
  transform: scale(1.05);
}
